.news__title {
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 50px;
	margin-top: 50px;
}

.news__items {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.news__item {
	max-width: 410px;
	height: 250px;
	background: url("../img/news/news1.png") no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.news__item-big {
	max-width: 810px;
	height: 500px;
	/* padding: 0px 0px 85px 0px; */
}

.news__item-big {
	grid-column: span 2;
	grid-row: span 2;
}

.news__item-img {
	padding: 15px;
}

/* .news__item-img img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

.news__item-content {
	width: max-content;
	border-top-right-radius: 10px;
	background-color: #A2B4AC;
	padding: 15px;
	/* position: absolute;
	left: 3%;
	top: 60%; */
	display: flex;
	flex-direction: column;
}

/* .news__btn-category {
	width: 90px;
	padding: 4px;
	font-size: 10px;
	background-color: lightblue;
	border-radius: 10px;
} */
/* 
.news__btn-category-big {
	width: 150px;
	padding: 10px;
	font-size: 15px;
} */



a {
	overflow: hidden;
}

.news__name {
	position: relative;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 10px;
	transition: 0.3s;
}

/* .news__name:hover {
	text-decoration: underline #936E66;
} */

.news__name::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: hotpink;
	text-decoration-thickness: 10px;
	opacity: 0;
	transition: opacity 300ms, transform 500ms;
}


.news__name::after {
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.news__name:hover::after,
.news__name:focus::after {
	transform: translate3d(0, 0, 0);
}

.news-desc {
	display: flex;
	align-items: center;
	gap: 20px;
}

.news-desc-link {
	color: #000;
	font-size: 13px;
	transition: 0.5s;
}

.news-desc-link:hover {
	color: #936E66;
}

.news-desc-author {
	display: flex;
	gap: 13px;
}

.news-desc-author::before {
	content: url("../img/news/user-news.png");
	width: 5px;
	height: 9px;
	/* margin-right: 3px; */
}

.news-desc-date {
	display: flex;
	gap: 10px;
}